extends ../../../templates/sidebar.pug

block main
  block append stylesheets
    style.
      #sidebar > .row > .col:first-of-type > a:nth-of-type(3) > h5{
        border-left: 4px solid #12BBAD;
      }

  h4.lead.pl-1.pb-2
    b Payment
  ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
    li.nav-item
      a#pills-record-tab.nav-link.active(data-toggle='pill', href='#pills-record', role='tab', aria-controls='pills-record', aria-selected='true')
        b Payment Record
    li.nav-item
      a#pills-method-tab.nav-link(data-toggle='pill', href='#pills-method', role='tab', aria-controls='pills-method', aria-selected='false')
        b Payment Method
  hr
  #pills-tabContent.tab-content
    #pills-record.tab-pane.fade.show.active(role='tabpanel', ,='', aria-labelledby='pills-record-tab')
      .tab
        table.table.table-striped
          thead
            tr
              th(scope='col') Order
              th(scope='col') Date of Payment
              th(scope='col') Method
              th(scope='col') Price
          tbody
            tr
              th(scope='row')
                a(href='/summary/previous') Order#0003092
              td Feb 11, 2018
              td Cash on Hand
              td P 180
            tr
              th(scope='row')
                a(href='/summary/previous') Order#0003014
              td Feb 9, 2018
              td Bank Deposit
              td P 350
            tr
              th(scope='row')
                a(href='/summary/previous') Order#0002437
              td Jan 30, 2018
              td Cash on Hand
              td P 200
      .row
        .col  
        .col.pt-3
          ul.pagination
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li.page-item
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#') 4
            li.page-item
              a.page-link(href='#') 5
            li.page-item
              a.page-link(href='#') 6
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next
        .col  
    #pills-method.tab-pane.fade(role='tabpanel', ,='', aria-labelledby='pills-method-tab')
      .row
        .col-md-6.mb-3
          .container
            .card-block.pay.p-4
              h1
                i.fa.fa-fw.fa-money
                span(style='font-size: 30px;')  Cash On Hand
              hr
              p Order and Pay with Cash on delivery  
        .col-md-6
          .container
            .card-block.pay.p-4
              h1
                i.fa.fa-fw.fa-credit-card
                span(style='font-size: 30px;')  Bank Deposit
              hr
              p Order and Pay through Bank Deposit
