extends ../../../templates/navbar-footer.pug

block main
  #content.container
    .row
      .col
        #inner-content
          div(style='text-align:center;')
            h4.lead.pl-1.pb-2
              b Frequently Asked Questions 
          .row
            .col-md-6.mb-3
              .card.mb-2
                .card-header
                  b  How do I place my order? 
                .card-body
                  .row.px-3
                    | Place order by adding items to the Cart and Proceed to Checkout.
            .col-md-6.mb-3
              .card.mb-2
                .card-header
                  b  When will I receive my order? 
                .card-body
                  .row.px-3
                    | When delivery process is done.
            .col-md-6.mb-3
              .card.mb-2
                .card-header
                  b  How do I contact Customer Service? 
                .card-body
                  .row.px-3
                    | Monday to Friday at 8:00 AM to 9:00 PM.
