extends ../../../templates/master.pug

block content
  .jumbotron.jumbotron-login.jumbotron-fluid
    .container.text-center
      img(src='/assets/images/static/usg-green.png' onContextMenu='return false')
      h1 Ultra Super Green
  .container.container-login
    .row
      .col-sm
      .col-sm-8.col-md-7.col-lg-5.col-login
        h2.text-center Sign-up
        .col-sm-12
          hr
          .alert.alert-info.text-primary(role='alert')
            i All fields are required in order to successfully register
          form(method='POST' action='/register')
            .row
              .col
                .form-group
                  label(for='fname')
                    b First Name
                  input#fname.form-control(type='text' name='fname' aria-describedby='nameHelp' placeholder='John' minlength='1' maxlength='45' required)
              .col
                .form-group
                  label(for='mname')
                    b Middle Name
                  input#mname.form-control(type='text' name='mname' aria-describedby='nameHelp' placeholder='Sanchez' minlength='1' maxlength='45' required)
              .col
                .form-group
                  label(for='lname')
                    b Last Name
                  input#lname.form-control(type='text' name='lname' aria-describedby='nameHelp' placeholder='Doe' minlength='1' maxlength='45' required)
            
            .form-group
              label(for='userName')
                b Username
              input#userName.form-control(type='text' name='username' aria-describedby='userNameHelp' placeholder='Pick a Username' minlength='8' maxlength='45' required)
              small#userNameHelp.form-text.text-muted Minimum of 8 characters.
            .form-group
              label(for='password1')
                b Password
              input#password1.form-control.mb-2(type='password' name='password' placeholder='Create a Password' minlength='8' maxlength='45' required)
              input#password2.form-control(type='password' name='confirm' aria-describedby='password2Help' placeholder='Retype Password' required)
              small#password2Help.form-text.text-muted Minimum of 8 characters.
            .form-group  
              .row
                .col
                  label(for='shipping')
                    b Shipping Address
                  input#shipping.form-control(type='text' name='shipping' maxlength='45' required)
                .col
                  label(for='billing')
                    b Billing Address
                  input#billing.form-control(type='text' name='billing' maxlength='45' required)
            .form-group
              label(for='email')
                b Email
              input#email.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='eg. johndoe@email.com' maxlength='45' required)
              small#emailHelp.form-text.text-muted Email will be displayed publicly.

            button.btn.btn-primary.btn-md.btn-block(type='submit') Submit
            hr
            p
              small
                b
                  | Already have an account? 
                  a(href='/login') Sign-in Here
      .col-sm
    br
    br
  
  block message
