extends index.pug

block message
  block append scripts
    script.
      $(window).on('load',function(){
        $('#usernameTaken').modal('show');
      });
  #usernameTaken.modal.fade(tabindex='-1' role='dialog' aria-labelledby='usernameTakenTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#usernameTakenTitle.modal-title Submission Failed
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Username Already Taken.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
